extends common/layout

block prepend document
  - this.title = "错误";

block content
  .ui.negative.icon.message
    i.remove.icon
    .content
      .header(style="margin-bottom: 10px")= message
      if description
        p
          +multi-line-text(description)
      p
        each url in urls
          a(href=url.href, style="margin-right: 5px")= url.text
        if showBack
          a(href="javascript:history.go(-1)") 返回上一页
