mixin multi-line-text(text)
  - const lines = text.split("\n");
  - for (let i = 0; i < lines.length; i++)
    if i > 0
      br
    = lines[i]

mixin render-markdown-to(content, id)
  script.
    $(() => {
      window.MarkdownUtil.renderSanitizedMarkdownAsync(
        !{app.utils.serialize(content)}
      ).then((html) => {
        $("##{id}").html(html);
      });
    });
