extends common/layout

block prepend document
  - this.title = "题目";

block content
  .padding(style="padding-bottom: 20px")
    .ui.grid
      .row
        .seven.wide.column
          form(action=viewUtils.makeUrl({}), method="get")
            .ui.search
              .ui.left.icon.input(style="width: 100%")
                input.prompt(type="text", value=keyword, placeholder="ID / 题目名 …", name="keyword")
                i.search.icon
              .results
        .nine.wide.right.aligned.column
          if allowedManageProblem
            a.ui.labeled.icon.mini.green.button(href="/problem/0/edit") 
              i.plus.icon
              | 新建题目

  +pagination-full

  table.ui.very.basic.center.aligned.table
    thead
      tr
        th.one.wide
          +sortable-table-title("displayId", "ID")
        th.left.aligned 标题
        th.two.wide 可见度
        th.one.wide 通过
        th.one.wide 提交
        th.one.wide 通过率
    tbody
      each problem in problems
        tr
          td #[b= problem.displayId]
          td.left.aligned
            a(style="vertical-align: middle", href=`/problem/${problem.id}`)= problem.title
          td
            span.ui.label(class=`${visibilityLabelColorMap[problem.visibility]}`)
              = visibilityStringMap[problem.visibility]
          td 0
          td 0
          td 0%

  +pagination-full
